.clearfix:after, header:after { content: ""; display: block; clear: both; }

html, body { height: 100%; }

body { background: url(../images/body_bg4.jpg) top center repeat #a2a2a2; font-family: "Droid Sans", sans-serif; color: #666666; position: relative; min-width: 320px; -webkit-text-size-adjust: none; }

/*********************************
			header
**********************************/
header { width: 100%; padding: 0 0 15px; }
header .indent-bottom { padding-bottom: 0; margin-top: 0; width: 26%; float: left; }
header .indent-bottom h1 { float: none; }
header .indent-bottom h1 a { height: 40px; width: 183px; background-size: 100% auto; }

h1 { float: left; padding-top: 4px; padding-left: 4px; }
h1 a { display: block; width: 252px; height: 56px; overflow: hidden; text-indent: -999em; white-space: nowrap; background: url(../images/entrust-manufacturing-technologies-logo.png) no-repeat; text-decoration: none; opacity: .8; margin-left: 10px; margin-right: -10px; }
h1 a:hover { text-decoration: none; }

/*********************************  Secondary Menu Setting 
**********************************/
.secondary-menu { overflow: hidden; margin-right: 6px; }
.secondary-menu li { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #77736d; padding: 2px 8px 0; white-space: nowrap; overflow: hidden; }
.secondary-menu .last-item { padding-right: 0; background: none; }
.secondary-menu a { color: #8f8980; text-decoration: none; font-size: 12px; }
.secondary-menu a:hover { text-decoration: none; color: white; }
.secondary-menu span { display: inline-block; margin-right: 13px; float: left; }

/********************************* 
		Content Area
**********************************/
#content { width: 100%; border-bottom: 8px solid #221c18; margin-bottom: 8px; background: url(../images/white-bg.png); }

img .margin { margin: 3px; }

/********************************* 
		Global Structure
**********************************/
.img-indent { float: left; margin-right: 20px; }

.img-indent3-1 { float: left; margin-right: 18px; }

.img-indent4-1 { float: left; margin-right: 22px; padding: 0 6px; }

.last-item { margin-right: 0 !important; margin-bottom: 0 !important; }

/* ---------- Tags ---------*/
h3 { font-family: "Oxygen", sans-serif; font-weight: 700; color: #333333; font-size: 36px; padding-left: 16px; padding-top: 12px; }
h3.title1 { line-height: 26px; padding-left: 20px; }

h4 { font-family: "Oxygen", sans-serif; font-weight: 700; font-size: 24px; color: #666; margin-bottom: 8px; padding-left: 20px; }

h5 { font: 12px/19px "Droid Sans", sans-serif; color: #666; padding-left: 20px; font-style: italic; margin-bottom: 12px; }

h6 { font: normal 12px/20px "Oxygen", sans-serif; color: #333; padding-left: 20px; padding-right: 20px; }
h6 a { color: #ed1c24; text-decoration: none; }
h6 a:hover { text-decoration: none; color: black; }

blockquote { width: 85%; margin-left: 20px; padding-left: 26px; margin-bottom: 10px; font: 18px/22px "Droid Sans", sans-serif, Tahoma, Geneva, sans-serif; font-weight: 700; color: #555; background: url(../images/quote.png) no-repeat; position: relative; }
blockquote:after { display: block; position: absolute; bottom: 1px; left: 63px; width: 34px; height: 19px; content: ""; }

.quote-content { border: 1px solid #4b4641; border-bottom-color: #4b4641; min-height: 130px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; border-radius: 10px; }

.quote-bg { background: url(../images/quote.png) 17px 11px no-repeat; padding: 21px 20px 25px 25px; }

.quote-caption { text-align: right; margin-top: -6px; }
.quote-caption a { text-decoration: none; }
.quote-caption a:hover { color: #414141; }

.detail-pix { float: right; max-width: 100%; height: auto; margin: 3px; }

.plant img { width: 250px; height: auto; }

img.plant { max-width: 100%; height: auto; }

/*---------- Columns --------*/
.col-2-1 { float: left; width: 161px; margin-right: 48px; }

.col-2-1x { float: left; width: 130px; margin-right: 24px; }

.col-2-1xx { float: left; width: 191px; margin-right: 15px; }

.col-4 { float: left; width: 291px; margin-right: 13px; }

/*----------- Boxes ----------*/
#page2 .box { background: #1c1714; }

.box { background: url(../images/box-tail.png) center top repeat; margin: -3px; padding-left: 0; }
.box .indents { padding: 12px 14px 32px 20px; }
.box h3 { font-size: 38px; line-height: 46px; }

.box2 { background: #423a36; padding: 15px 15px 14px; }

.img-box { display: inline-block; padding: 20px; }

.partners .img-box { padding: 7px; border: 1px solid #57524e; background: white; }

.thumb { width: 60px; height: auto; margin: 5px; border: 1px solid #999; float: left; }

.machines { float: left; border: 1px solid #999; margin-right: 5px; width: 300px; height: auto; }

.arrow1 { background: url(../images/arrow1.png) 159px 0 no-repeat; padding-top: 10px; }

.arrow2 { background: url(../images/arrow2.png) 367px bottom no-repeat; padding-bottom: 14px; }

.circle { float: left; margin-right: 14px; width: 53px; height: 53px; overflow: hidden; font: bold 36px/53px Arial, Helvetica, sans-serif; color: white; text-align: center; background: #ed1c24; -moz-border-radius: 26px; -webkit-border-radius: 26px; -o-border-radius: 26px; -ms-border-radius: 26px; border-radius: 26px; }

.block1 { float: left; margin-right: 20px; padding-top: 4px; width: 51px; height: 63px; overflow: hidden; font: bold 36px/44px Arial, Helvetica, sans-serif; color: white; text-align: center; background: url(../images/block1.png) center top no-repeat; }

/*---------- Links ----------*/
a { color: #ed1c24; outline: none; cursor: pointer; text-decoration: none; }
a:hover { text-decoration: none; color: #333; }
a[href^="tel:"] { color: #7d7d7d; text-decoration: none; }

.button { display: inline-block; cursor: pointer; font: 12px/15px Arial, Helvetica, sans-serif; color: white; text-decoration: none; background: #333; padding: 7px 12px 6px; margin-bottom: -4px; margin-left: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; }
.button:hover { text-decoration: none; background-position: center -57px; background-color: #ed1c24; }

/*---------- Lists -----------*/
.list-1 { margin-left: 18px; margin-right: 18px; }
.list-1 li { font: 14px/22px "Droid Sans", sans-serif, Arial, Helvetica, sans-serif; color: #666; background: url(../images/marker-1.png) 0 8px no-repeat; padding-left: 22px; margin-bottom: 5px; }
.list-1 a { text-decoration: none; color: #ed1c24; }
.list-1 a:hover { text-decoration: none; color: #333; }

.list-2 { margin-top: 20px; }
.list-2 li { font: 22px/30px Lato, sans-serif; margin-bottom: 5px; }
.list-2 li img { border: 1px solid #999; }
.list-2 li .hilight { background-color: #bcbcbc; border: 2px solid #000; color: #000; }
.list-2 a { display: block; color: #85786e; text-decoration: none; padding: 12px 17px 13px; background: #222; }
.list-2 a .active { color: #ed1c24; }
.list-2 a:hover { text-decoration: none; color: #ff8b03; }
.list-2 a:hover .hilight { color: #85786E; }

.dhd img { float: left; border: 0; margin: 0 9px 0 -5px; }

/*---------- Borders ---------*/
.border-bottom { border-bottom: 1px solid #4c4642; }

/*---------- Indents ---------*/
p { padding-left: 20px; line-height: 18px; padding-right: 10px; }

p, .p3-1 { margin-bottom: 0; line-height: 22px; }

.p0 { margin-bottom: 0; }

.p0-1 { margin-bottom: 3px; }

.p1 { margin-bottom: 5px; }

.p1-1 { margin-bottom: 8px; }

.p2 { margin-bottom: 10px; }

.p2-1 { margin-bottom: 12px; }

.p3 { margin-bottom: 15px; }

.p4 { margin-bottom: 30px; line-height: 27px; }

.p4-1 { margin-bottom: 22px; }

.p5 { margin-bottom: 25px; }

.p5-1 { margin-bottom: 24px; }

.p6 { margin-bottom: 26px; margin-top: 22px; }

.p6-1 { margin-bottom: 10px; margin-top: 5px; }

.p7 { margin: 0 0 16px; }

.p7-1 { margin-bottom: 12px; }

.p7-2 { margin: 0 0 4px; }

.p8 { margin-bottom: 40px; }

.p8-1 { margin-bottom: 42px; }

.p9 { margin-bottom: 15px; line-height: 27px; color: #dbdbdb; }

/*________________________
***************************
		indent-top
___________________________		
***************************/
.indent-top1 { padding-top: 5px; }

.indent-top2 { padding-top: 10px; }

.indent-top3 { padding-top: 15px; }

.indent-top4 { padding-top: 20px; }

.indent-top5 { padding-top: 25px; }

.indent-top6 { padding-top: 30px; }

.indent-top7 { padding-top: 35px; }

.indent-top8 { padding-top: 40px; }

.indent-top9 { padding-top: 45px; }

.indent-top10 { padding-top: 50px; }

.indent-top11 { padding-top: 55px; }

.indent-top12 { padding-top: 60px; }

.indent-right1 { padding-right: 5px; }

.indent-right2 { padding-right: 10px; }

.indent-right3 { padding-right: 15px; }

.indent-right4 { padding-right: 20px; }

.indent-right5 { padding-right: 25px; }

.indent-right6 { padding-right: 30px; }

.indent-right7 { padding-right: 35px; }

.indent-right8 { padding-right: 40px; }

.indent-right9 { padding-right: 45px; }

.indent-right10 { padding-right: 50px; }

.indent-right11 { padding-right: 55px; }

.indent-right12 { padding-right: 60px; }

.indent-left1 { padding-left: 5px; }

.indent-left2 { padding-left: 10px; }

.indent-left3 { padding-left: 15px; }

.indent-left4 { padding-left: 20px; }

.indent-left5 { padding-left: 25px; }

.indent-left6 { padding-left: 30px; }

.indent-left7 { padding-left: 35px; }

.indent-left8 { padding-left: 40px; }

.indent-left9 { padding-left: 45px; }

.indent-left10 { padding-left: 50px; }

.indent-left11 { padding-left: 55px; }

.indent-left12 { padding-left: 60px; }

.indent-bottom1 { padding-bottom: 5px; }

.indent-bottom2 { padding-bottom: 10px; }

.indent-bottom3 { padding-bottom: 15px; }

.indent-bottom4 { padding-bottom: 20px; }

.indent-bottom5 { padding-bottom: 25px; }

.indent-bottom6 { padding-bottom: 30px; }

.indent-bottom7 { padding-bottom: 35px; }

.indent-bottom8 { padding-bottom: 40px; }

.indent-bottom9 { padding-bottom: 45px; }

.indent-bottom10 { padding-bottom: 50px; }

.indent-bottom11 { padding-bottom: 55px; }

.indent-bottom12 { padding-bottom: 60px; }

.indent-bottom4-1 { padding-bottom: 22px; }

.indent-bottom8-1 { padding-bottom: 42px; }

/*----------- Map ------------*/
#map iframe { width: 100%; height: 265px; }
#map dl { width: 100%; position: relative; overflow: hidden; }
#map dt { margin-bottom: 20px; }
#map dl span { float: left; width: 73px; }

/********************************* aside **********************************/
.box h3 { margin-bottom: 15px; }

aside { width: 100%; border-bottom: 8px solid #221c18; padding: 34px 0 38px; font: 13px/20px Arial, Helvetica, sans-serif; }
aside .list-1 li { font-size: 13px; }

.social-icons { float: left; width: 50%; overflow: hidden; }
.social-icons li { margin-bottom: 10px; }
.social-icons a { color: #ed1c24; text-decoration: none; display: inline-block; padding-left: 27px; background-position: 0 1px; background-repeat: no-repeat; }
.social-icons a:hover { color: white; }
.social-icons .icon-1 { background-image: url(../images/icon-1.png); }
.social-icons .icon-2 { background-image: url(../images/icon-2.png); }
.social-icons .icon-3 { background-image: url(../images/icon-3.png); }
.social-icons .icon-4 { background-image: url(../images/icon-4.png); }

/************************************** Footer *************************************/
footer { width: 100%; overflow: hidden; font: 13px/20px "Oxygen", sans-serif; }

.footer-text { vertical-align: middle; font-size: 80%; }

.footer-text a { color: #ed1c24; text-decoration: none; }
.footer-text a:hover { color: white; }

.footer-link { float: right; }

/*=================================================================================*/
#contact-form { padding: 0 16px 15px; }
#contact-form label { display: block; margin: 0 0 10px; }
#contact-form label span { display: none; color: #ed1c24; padding: 5px 0 0; }
#contact-form .success { display: none; }
#contact-form textarea, #contact-form input { background-color: #3B3B3B; border: 1px solid #000; padding: 6px 10px; width: 100%; max-width: 220px; color: #ccc; font-size: 1em; font-family: "Droid Sans", sans-serif; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
#contact-form textarea { max-width: 400px; min-height: 100px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
#contact-form .button { margin: 0; min-width: 100px; text-align: center; }
#contact-form .button:hover { color: white; }

@media all and (max-width: 995px) { p, .p3, .p3-1 { margin-bottom: 15px; }
  .p4-1, .p5, .p5-1, .p6, .p6-1, .p7, .p7-1, .p8, .p8-1 { margin-bottom: 20px; }
  h3 { margin-bottom: 15px; }
  .indent-right2, .indent-right4, .indent-right5, .indent-right6 { padding-right: 0; }
  .indent-left4 { padding-left: 0; }
  .indent-bottom4-1, .indent-bottom8-1, .indent-bottom10 { padding-bottom: 20px; }
  .indent-bottom3, .indent-bottom7 { padding-bottom: 30px; }
  .col-2-1 { width: 140px; margin-right: 30px; }
  .col-2-1x { width: 150px; margin-right: 20px; }
  .col-2-1xx { width: 154px; }
  .col-4 { width: 236px; margin-right: 20px; }
  /*-----------------------------------------*/
  .arrow1 { background-position: 130px 0; }
  .arrow2 { background-position: 300px bottom; }
  .arrow1 .arrow2 .indent-top1 { padding-top: 0; }
  .arrow1 .arrow2 .wrapper { margin-bottom: 10px !important; }
  .list-2 li { font-size: 18px; line-height: 24px; }
  h1 a { width: 180px; height: 47px; background-size: 100% auto; margin-right: 10px; }
  .menu > li > a { width: 88px; padding: 18px 3px; font-size: 12px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
  .menu > li.sfHover > a, .menu > li > a:hover, .menu > li.current > a { background-position: center -8px; }
  header .indent-bottom h1 a { height: 28px; }
  h3 { font-size: 30px; }
  h4 { font-size: 20px; }
  .box h3 { font-size: 32px; }
  .footer-text { margin-bottom: 10px; }
  .footer-text img { width: auto; max-width: 100%; margin-top: -10px; }
  .list-2 { margin-left: 10px; margin-top: 10px; }
  .list-2 li { font-size: 18px; }
  .list-2 a { padding: 5px 12px; } }
@media all and (max-width: 767px) { .indent-top1 { padding-top: 0; }
  .col-2-1 { width: 123px; margin-right: 20px; }
  .col-2-1x { width: 126px; }
  .col-2-1xx { width: 130px; }
  .col-4 { float: none; width: 100%; margin-right: 0; margin-bottom: 30px; }
  /*-----------------------------------------*/
  h1 { float: none; margin-bottom: 15px; padding-left: 0; }
  .secondary-menu { float: none; }
  .box { padding: 25px 0 30px; }
  .box .indents { padding: 0 18px; }
  .circle { float: none; margin: 0 auto 20px; }
  .arrow1 { background-position: 110px 0; }
  .arrow2 { background-position: 250px bottom; }
  .social-icons li { float: left; width: 50%; }
  .footer-text, .footer-link { float: none; }
  .img-indent4-1, .img-indent { float: none; margin-right: 0; }
  img { width: 100%; }
  .img-box { display: block; }
  .footer-text { text-align: center; font-size: 14px; padding: 0 15px; }
  .footer-text font { display: block; text-align: center; margin: 10px 0; }
  .footer-text font a { display: inline-block; }
  .footer-text a { display: inline-block; }
  .footer-text img { margin: 0; }
  #contact-form textarea, #contact-form input { max-width: 100%; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
  .list-2 { padding: 0; margin: 0; }
  /* ################################## 		Reset All Styles ################################## */
  header, .indent-bottom8-1, .img-box, .box h3, h4, h5, .p4, .p2, .p2-1, p, .p3, .p3-1, .p4-1, .p5, .p5-1, .p6, .p6-1, .p7, .p7-1, .p8, .p8-1, .p9 { margin: 0; padding: 0; line-height: 1.5; }
  .list-1, .button { margin: 0; }
  .royalSlider { padding: 0 !important; margin-bottom: 20px !important; }
  #page1 #content { padding: 0; }
  #content { padding: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
  #map figure, #map, .indent-bottom4-1, .indent-bottom10 { margin-bottom: 10px; }
  #timeline { margin-top: 25px !important; }
  /* ################################## 		New Styles ################################## */
  .box { padding: 15px 0; }
  h3 { font-size: 20px; margin-bottom: .5em !important; }
  h4 { font-size: 16px; margin-bottom: .5em !important; }
  .box h3 { font-size: 26px; margin-bottom: 5px !important; }
  p { padding-bottom: 15px !important; }
  p img { margin-bottom: 15px; }
  #contact-form { padding: 0; }
 /*
##################################
		Reset END
##################################
*/ }
@media all and (max-width: 479px) { .col-2-1, .col-2-1x, .col-2-1xx { float: none; width: 100%; margin-right: 0; margin-bottom: 40px; }
  /*-----------------------------------------*/
  .secondary-menu li { background: none; }
  .secondary-menu li:first-child { background: url(../images/secondary-menu-separator.gif) right center no-repeat; }
  .secondary-menu .last-item { float: none; width: 245px; padding-left: 0; padding-top: 15px; }
  .arrow1 { padding-top: 0; background: url(../images/arrow1-mp.png) 0 155px no-repeat; }
  .arrow2 { padding-bottom: 0; background: url(../images/arrow2-mp.png) right 340px no-repeat; }
  .social-icons li { float: none; width: 100%; }
  .footer-text br { display: none; } }
/* S3 Slider ----------------------------- */
#s3slider { width: 400px; height: 300px; position: relative; overflow: hidden; }

#s3sliderContent { width: 400px; position: absolute; top: 0; margin-left: 0; }

.s3sliderImage { float: left; position: relative; display: none; }
.s3sliderImage span { position: absolute; left: 0; font: 10px/15px Arial, Helvetica, sans-serif; padding: 10px 13px; width: 374px; background-color: #000; color: white; display: none; top: 0; opacity: 0.7; filter: alpha(opacity=70); *zoom: 1; }

.clear { clear: both; }
