nav { background: #3b3b3b; }
nav + .clear { display: none; }

#page1 nav { margin-bottom: 8px; }

.menu { list-style: none; border-top: 4px solid #252525; background: #3b3b3b; }
.menu > li { position: relative; float: left; font-family: "Oxygen", sans-serif; text-transform: uppercase; font-size: 15px; padding-right: 3px; }
.menu > li > a { display: block; width: 113px; color: #fff; text-decoration: none; text-align: center; padding: 22px 0; background: url(../images/menu-hover.gif) center -999em no-repeat; }
.menu > li.current > a, .menu > li.sfHover > a, .menu > li a:hover { text-decoration: none; background-position: center top; background-repeat: repeat-x; background-color: #ed1c24; }
.menu .last-item { padding-right: 0; background: none; }
.menu .menu-arrow { display: none; }
.menu ul { position: absolute; top: -999em; width: 158px; display: none; padding: 13px 10px 19px; background: #333; opacity: 0.8; z-index: 99; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.menu li li { width: 100%; padding: 0; margin-bottom: 13px; position: relative; font: 12px/17px Arial, Helvetica, sans-serif; text-align: center; border-style: solid; }
.menu li li a { color: #fff; text-decoration: none; }
.menu li li > a:hover, .menu li li.sfHover > a { color: #ed1c24; text-decoration: none; background: none; }

.menu li:hover ul, .menu li.sfHover ul { left: 0; top: 100%; margin-top: 5px; }
.menu li:hover li ul, .menu li.sfHover li ul { top: -999em; }
.menu .last-item.sfHover ul, .menu .last-item:hover ul { left: auto; right: 0; }
.menu ul ul { /***subsubmenu***/ background-color: #333; }
.menu li li:hover ul .menu li li.sfHover ul { left: 145px; top: -29px; }
.menu li li .sfHover li ul, .menu li li:hover li ul { top: -999em; }

@media all and (max-width: 995px) { .menu > li > a { width: 123px; }
  .menu > li > a .menu-arrow { display: inline-block; width: 11px; height: 6px; overflow: hidden; text-indent: -999em; font-size: 0; line-height: 0; background: url(../images/menu-arrow.gif) center top no-repeat; margin-left: 6px; vertical-align: middle; }
  .menu ul .menu-arrow { display: inline; } }
@media all and (max-width: 767px) { nav { float: none; font: 10px/12px Arial, Helvetica, sans-serif; text-transform: uppercase; color: #fff; padding: 15px; }
  nav:before { content: 'Menu:'; display: block; margin-bottom: 5px; }
  .menu { display: none; }
  nav select { font: 10px/12px Arial, Helvetica, sans-serif; color: #464646; width: 100%; outline: none; padding: 5px; border: 2px solid #9e9e9e; } }
@media all and (max-width: 479px) { .menu ul ul { width: 298px; } }
