* {
	margin: 0;
	padding: 0;
}

/*body {

	font-family: 'Droid Sans', sans-serif;
	color: #666;
	font-size: 14px;
}
*/
a {
	color: #ACACAC;
	text-decoration: none;
	/*-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;*/
}

	a.selected {
		color: #ed1c24;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	/*text-shadow: #000 1px 1px 2px;*/
	margin-bottom: 5px;
}
.menu h1{
	margin-bottom:0;
}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 875px;
		overflow: hidden;
		margin: 65px auto;
		position: relative;
		background: url('../images/dot.gif') left 45px repeat-x;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
			z-index:999;
			position:relative;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('../images/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width: 800px;
			overflow: hidden;
		}	
			#issues li {
				width: 800px;
				height: 350px;
				list-style: none;
				float: left;
				margin-top: 25px;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #ed1c24;
					font-size: 48px;
					font-weight: 700;
					margin: 20px;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					margin-top: 28px;
					font-weight: normal;
					line-height: 22px;
					/*text-shadow: #000 1px 1px 2px;*/
				}
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		      /*  background: url('../images/grad_left.png') repeat-y;*/
			}
			#grad_right {
		        right: 0;
		      /*  background: url('../images/grad_right.png') repeat-y;*/
			}
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../images/next.png');
			}
			#prev {
				left: 0;
				background-image: url('../images/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}
@media only screen and (max-width: 955px) {
	#timeline{
		width:700px;
	}
	#issues li{
		width:622px;
	}
}
@media only screen and (max-width: 767px) {
	#timeline{
		width:auto;
		max-width:400px;
	}
	#issues li{
		width:100%;
		height:auto;
		max-width:400px; 
	}
	.selected p{
		padding:0 30px;
	}
	
}
@media only screen and (max-width: 479px) {
	#timeline{
		width:auto;
		max-width:300px;
	}
	#issues li{
		max-width:300px;
	}
}
